.imageBox-hover {
  opacity: 0;
}

.imageBox-hover:hover {
  opacity: 1;
}


.imageBox {
  width: 100%;
}
@media (min-width: 576px) {
  .imageBox{
    width: 50%;
  }
}

/* @media (min-width: 768px) {
} */

@media (min-width: 992px) {
  .imageBox {
    width: 20%;
  }
}
