.Burger-Wrapper {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.Menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-100%);
  transition: 400ms;
  padding: 15px 10px;
  overflow: scroll;
  font-size: 2rem;
}

.Menu *:nth-child(n+1){
  margin: 3px;
  color: black;
}

.Menu.true {
  transform: translateY(0);
}

.Burger-Wrapper div{
  background-color: black;
  width: 100%;
  height: 5px;
  position: absolute;
  transition: 400ms;
}

.Burger-Wrapper div:first-child {
  margin-top: 4px;
}

.Burger-Wrapper div:nth-child(2) {
  margin-top: 13px;
}

.Burger-Wrapper div:nth-child(3) {
  margin-top: 22px;
}

.Burger-Wrapper.true div:first-child {
  transform: rotate(45deg);
  margin-top: 50%;
}

.Burger-Wrapper.true div:nth-child(2) {
  display: none;
}

.Burger-Wrapper.true div:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: 50%;
}


@media (min-width: 992px) {
  .Burger-Wrapper{
    display: none;
  }
  .Menu {
    position: relative;
    height: auto;
    width: auto;
    background-color: inherit;
    transform: translate(0);
    flex-direction: row;
    padding: 0;
    font-size: 1.2rem;
    /* justify-content: space-around; */
  }
  .Menu *:nth-child(n+1){
    margin: 0px 10px;
  }
  .Menu *:last-child{
    margin-right: 25px;
  }

}
