@import './mixins.sass'
@import './colors.sass'

.SideMenu
  position: absolute
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  width: 100vw
  height: 100vh
  background-color: rgba(200, 50, 200, 0.298039)
  padding-top: 50px
  z-index: 100
  top: 0
  left: 0
  display: flex
  flex-direction: column
  &.active
    animation: slide .4s forwards
  &.not-active
    animation: slide-back .4s forwards
  .SideMenu-Burger
    position: absolute
    top: 0
    right: 0
  .links-wrapper
    display: table
    width: 100%
    margin-bottom: auto
    .links
      display: flex
      align-items: center
      flex-direction: column
      a
        color: $main-color
        padding-top: 15px
        transition: 400ms
        width: 100%
        text-align: center
        font-size: 1.2rem
        .line
          margin: auto
          margin-top: 15px
          width: 50%
          border-bottom: 1px solid hsla(0,0%,100%,.2)
          transition: 400ms width, 400ms border-bottom
        &:hover
          color: $hover-color
          .line
            width: 25%
            border-bottom: 1px solid $hover-color
  +large-devices
    width: 300px
    right: 0
    left: auto
    .links-wrapper .links .line
      width: 60%
    &.active
      animation: none
    &.not-active
      animation: none

+keyframes(slide-back)
  0%
    transform: translateX(0)
    opacity: 1
  99.9999%
    transform: translateX(100%)
    opacity: 1
    visibility: visible
  100%
    transform: translateX(-100%)
    opacity: 0
    visibility: hidden

+keyframes(slide)
  0%
    visibility: visible
    transform: translateX(100%)
  100%
    transform: translateX(0)
