@import './mixins.sass'
@import './colors.sass'

.SideMenu
  position: absolute
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  width: 100vw
  height: 100vh
  background-color: rgba(200, 50, 200, 0.298039)
  padding-top: 50px
  z-index: 100
  top: 0
  left: 0
  display: flex
  flex-direction: column
  &.active
    animation: slide .4s forwards
  &.not-active
    animation: slide-back .4s forwards
  .SideMenu-Burger
    position: absolute
    top: 0
    right: 0
  .links-wrapper
    display: table
    width: 100%
    margin-bottom: auto
    .links
      display: flex
      align-items: center
      flex-direction: column
      a
        padding-top: 15px
        transition: 400ms
        width: 100%
        text-align: center
        font-size: 1.2rem
        .line
          margin: auto
          margin-top: 15px
          width: 70%
          border-bottom: 1px solid hsla(0,0%,100%,.2)
          transition: 400ms width, 400ms border-bottom
        &:hover
          .line
            width: 25%
            border-bottom: 1px solid $hover-color
  .footer
    display: flex
    width: 100%
    margin: 20px 0px 10px
    font-size: 0.8rem
    flex-direction: column
    align-items: center
    .icon-links
      margin-bottom: 3px
      .icon
        cursor: pointer
        width: 24px
        height: 24px
        margin: 7px
        mask-size: cover
        -webkit-marsk-size: cover
        transition: background-color 400ms
        background-color: $main-color
        display: inline-block
        &.facebook-icon
          mask: url('../Images/facebook.svg')  no-repeat 50% 50%
        &.instagram-icon
          mask: url('../Images/instagram.svg')  no-repeat 50% 50%
        &.linkedin-icon
          mask: url('../Images/linkedin.svg')  no-repeat 50% 50%
        &.github-icon
          mask: url('../Images/github.svg')  no-repeat 50% 50%
        &:hover
          background-color: $hover-color
  +large-devices
    width: 300px
    right: 0
    left: auto
    &.active
      animation: none
    &.not-active
      animation: none

+keyframes(slide-back)
  0%
    transform: translateX(0)
    opacity: 1
  99.9999%
    transform: translateX(100%)
    opacity: 1
    visibility: visible
  100%
    transform: translateX(-100%)
    opacity: 0
    visibility: hidden

+keyframes(slide)
  0%
    visibility: visible
    transform: translateX(100%)
  100%
    transform: translateX(0)
