@import './Components/Styles/mixins.sass'

.App
  width: 100vw
  position: relative
  .Background
    background: linear-gradient(rgba(50,50,255,.4), rgba(200,50,200,.3))
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    width: 100vw
    position: fixed
    z-index: -1
  .App-Burger
    position: fixed
    top: 0
    right: 0
    opacity: 1
    transition: 400ms opacity
  .view-wrapper
    transition: filter 300ms, opacity 300ms
    opacity: 1
    height: 100vh
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
  &.menu-active
    .App-Burger
      opacity: 0
    .view-wrapper
      filter: blur(15px)
      opacity: .3
      overflow-y: hidden
  &.full-image-active
    .App-Burger
      opacity: 0
    .view-wrapper
      overflow-y: hidden
  +large-devices
    .view-wrapper
      padding: 0 300px 0 0
    &.menu-active
      .view-wrapper
        filter: blur(0)
        opacity: 1
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
    &.full-image-active
      .SideMenu
        opacity: .7
        filter: blur(5px)
